body{
    background-image: linear-gradient(to right, #8CF5B3,#8CF490);font-size: 20px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
main{
    background-color: white;
    width: 600px; border-radius: 10px;
    box-shadow: 5px 5px 15px #63af65ab;
    padding: 10px;
    margin: auto;
}
h1{
    color: #a3b65f;text-align: center; text-shadow: 1px 1px 2px #aabe5f;
}
p{text-align: justify;font-size: 20px;
}